<!DOCTYPE html>
<html>
<head>
	<title>Movie search</title>
	<link rel="stylesheet" type="text/css" href="css/lib.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" id="titleText">
			<h3><i class="fa fa-home"></i><span> Home</span></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  	<h3 class="panel-title">Search movie/series</h3>
			  </div>
			  <div class="panel-body">
			    <div class="col-sm-12 col-md-12">
			    	<div class="input-group" id="search_area">
				      <input type="text" class="form-control" id="search_text" placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" id="search_movie" data-loading-text="Searching..." type="button">
				        	<i class="fa fa-search"></i> Search!
				        </button>
				      </span>
				    </div><!-- /input-group -->
				    <div id="search_message"></div>
				    <div class="row" id="search_result">
				    	
				    </div>
			    </div>
			  </div>
			  <div class="panel-footer">Try something...</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/lib.min.js"></script>
<script type="text/javascript" src="js/app.min.js"></script>
</body>
</html>